<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head th:replace="header"></head>
<body>
<div class="table-responsive">
    <table id="launch" class="table" style="width:100%">
        <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Mission id</th>
            <th>Rocket name</th>
            <th>Launch date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="launch : ${launches}">
            <td><img th:src="${(launch.links.mission_patch_small != null) ? launch.links.mission_patch_small : 'images/default-patch.png'}"
                    th:alt="${patch}" style="max-width:64px"/></td>
            <td><a th:href="@{'/launch/' + ${launch.id}}" th:text="${launch.id}"></a></td>
            <td th:text="${(!launch.mission_id.isEmpty()) ? launch.mission_id : 'unknown' }"></td>
            <td th:text="${launch.rocket.rocket_name}"></td>
            <td th:text="${launch.launch_date_utc}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="footer"></div>
</body>
</html>